.pk-modal-mask {
    background: rgba(0, 0, 0, 0.3);
    /* browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4cffffff', endColorstr='#4cffffff');
    /* IE */
    position:fixed;
    height:100%;
    width:100%;
    opacity:0;
    top:0;
    left:0;
    z-index:998;
    transition:opacity 300ms ease-in;
}
.pk-modal-mask.pk-show{
    display:table;
    opacity:1;
}
.pk-modal-mask.pk-hide{
    display:table;
    opacity:0;
}
.pk-modal-container {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    position:relative;
    z-index:999;
}
.pk-modal-box {
    border:1px solid black;
    background:white;
    display:inline-block;
    width:40%;
    max-width:600px;
    min-width:400px;
}
.pk-modal-header {
    background:black;
    color:white;
    font-weight:light;
    font-family:'Open Sans Condensed';
    text-transform:uppercase;
    line-height:50px;
    
}
.pk-modal-header, .pk-modal-content {
    padding:0 10px;
    margin:0;
    text-align:left;
    position:relative;
    box-sizing:border-box;
}
.pk-modal-close{
    display:block;
    position:absolute;
    width:30px;
    height:30px;
    line-height:30px;
    font-size:30px;
    right:10px;
    top:8px;
    cursor:pointer;
    text-align:center;
    overflow:hidden;
    vertical-align:middle;
}
.pk-modal-close:after{
    content:'\00d7';
}
.pk-modal-content{
    font-family:'PT Sans Narrow';
    font-size:14px;
    padding-top:10px;
    padding-bottom:10px;
}
